.blink     { font-family:verdana; font-size:10px; color:#72402E; font-weight:bold; text-decoration:none }
.main     { font-family:verdana; font-size:11px; color:#D2D2D2; font-weight:bold }
DIV	  { font-family:verdana; font-size:10px; color:WHITE; font-weight:bold; text-align:justify }
TD	  { font-family:verdana; font-size:10px; color:#8E969E; line-height:16px ;font-weight:normal; text-align:justify }
A	  { font-family:verdana; font-size:10px; color:#637991; font-weight:bold; text-decoration:none }
A:Visited { font-family:verdana; font-size:10px; color:#526376; font-weight:bold; text-decoration:none }
A:Hover   { font-family:verdana; font-size:10px; color:#FFFFFF; font-weight:bold; text-decoration:none }